
:root{
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}


body{
    background-color: var(--Stone-100);
    display: flex;
    justify-content: center;
    padding-bottom: ;
}
.container{
    background-color: var(--White);
    
    color: var(--Stone-600);
    width: 620px;
    border-radius: 10px;
    padding-bottom: 250px;
    padding-right: 55px;
    padding-left: 27px;
    padding-bottom: 25px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
img{
    border-radius: 10px;
    padding-left: 3px;
}
.cat{
    font-size: 16px;
    line-height: 1.3;
    margin-top: 20px;
    font-family: "Outfit", sans-serif;
    /* max-width: 500px; */
    text-wrap: wrap;
}
.container-1{
    background-color: var(--Rose-50);
    width: 630px;
    padding-left: 19px;
    border-radius: 10px;
    font-family: "Outfit", sans-serif;
}
.container-2{
    font-family: "Outfit", sans-serif;
}
.container-3{
    font-family: "Outfit", sans-serif;
}
.nutrition{
    margin-top: 20px;
    font-family: "Outfit", sans-serif;
}
.item{
    display: flex;
    justify-content: space-between;
}
ol{
}
 

/* .Nutrition{
    width: 100%;
}
.Nutrition td{
    padding: 12px 0;

}
.Nutrition tr:not(:last-child) td{
    border-bottom: 1px solid #e6e6e6;
}
.Nutrition td:last-child{
    font-weight: 700;
    color: #6b3a2f;
    text-align: left;
} */
.nice{
    color: var(--Rose-800);
    margin-left: 19px;
    font-weight: 300px;
    font-size: 15px;
}
.ingre{
    color: var(--Brown-800);
    width: 10px;
    padding-left: 19px;
    font-family: "Young Serif", serif;
    font-weight: normal;
}
.mumu{
    font-family: "Young Serif", serif;
    color: var(--Stone-900);
    font-weight: normal;
}
ol{
    font-family: "Outfit" serif;
}
        
                    
                
hr{
    width: 630px;
    font-weight: lighter;
}
strong{
    margin-right: 200px;
    color: var(--Brown-800);
}

.yh{
    margin-left: 15px;
}


.highlight{
    font-weight: bold;
    color: var(--Stone-600);
}
.we-good{
    margin-left: 15px;
    font-family: "Outfit", sans-serif;
}




li{
    margin-top: 5px
}

