
:root{
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}


body{
    background-color: var(--Stone-100);
    display: flex;
    justify-content: center;
}
.container{
    background-color: var(--White);
    width: 610px;
    border-radius: 10px;
    padding-bottom: 200px;
    padding-right: 65px;
    padding-left: 27px;
    padding-bottom: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
img{
    border-radius: 10px;
    padding-left: 3px;
}
.cat{
    font-size: 16px;
    line-height: 1.3;
    margin-top: 20px;
    /* max-width: 500px; */
    text-wrap: wrap;
}
.container-1{
    background-color: var(--Rose-50);
    width: 630px;
    padding-left: 19px;
    border-radius: 10px;
}
.nice{
    color: var(--Rose-800);
    margin-left: 19px;
    font-weight: 300px;
    font-size: 15px;
}
.ingre{
    color: var(--Brown-800);
    padding-left: 19px;
}
.line{
    width: 630px;
}
.highlight{
    font-weight: bold;
}



li{
    margin-top: 5px;
}

